{% extends 'base.html' %}

{% block content %}
  <div class="row my-3">
    <div class="col-8">
      <h4>{{ movie.title }}</h4>
      <hr>
      <h5>장르 : 
        {% for genre in movie.genres.all %}
          {{ genre.genre_name }} |
        {% endfor %}
      </h5>
      <h5>개봉일 : {{ movie.released_date }}</h5>
      <p class="lead">
        {{ movie.overview }}
      </p>
    </div>
    <div class="col-4">
      <img class="img-fluid" alt="100%x280" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}">
    </div>
  </div>

  <hr class="mt-5 mb-3">

  <div class="my-3">
    <div>
      <h4 style="display: inline">리뷰</h4>
      <span class="ms-3"><a href="{% url 'community:create' movie.pk %}">리뷰 작성하기</a></span>
    </div>
    <hr>
    <br>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">평점</th>
            <th scope="col">리뷰 제목</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
        {% for review in reviews  %}
          <tbody>
            <tr class="table-light">
              <th scope="row">{{ review.rank }}</th>
              <td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></td>
              <td>{{ review.created_at }}</td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center row row-cols-1">
    <h5>추천 영화</h5>
    {% for recommend_movie  in movie.recommend_movies.all %}
      <div class="card" style="width: 13rem;">
        <a href=" {% url 'movies:detail' recommend_movie.pk  %} ">
          <img src="https://image.tmdb.org/t/p/w500/{{ recommend_movie.poster_path }}" class="card-img-top" alt="...">
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}