<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieTalk</title>
  <script src="https://kit.fontawesome.com/dacf7dcd9c.js" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
  {% include '_nav.html' %}
  <div>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>